{{extend 'layout.html'}}

<form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
    <div class="form-group" id="myform_body__row"><label class="control-label col-sm-3" for="myform_body"
                                                         id="myform_body__label">Body</label>

        <div class="col-sm-9"><input class="form-control string" id="myform_body" name="body" type="text" value=""><span
                class="help-block"></span></div>
    </div>
    <div class="form-group" id="myform_image__row"><label class="control-label col-sm-3" for="myform_image"
                                                          id="myform_image__label">Image</label>

        <div class="col-sm-9"><input class="upload input-file" id="myform_image" name="image" type="file"><span
                class="help-block"></span></div>
    </div>
    <div class="form-group" id="submit_record__row">
        <div class="col-sm-9 col-sm-offset-3"><input class="btn btn-primary btn-default" type="submit" value="Submit">
        </div>
    </div>
</form>

<script>
    $('form').onsubmit(function(event,ui){
        alert('submission!')
    })
</script>