{{extend 'layout.html'}}
  <style>
      textarea, div {font-size: medium;}
  span {
    display: none;
  }
      .commit {display:none;}
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

{{for seg in segs:}}

	<div id="seg{{=seg.id}}"><div class='partext' id="seg{{=seg.id}}partext" rid={{=seg.id}}>
	{{=seg.body}}
	</div><button class='edit' id='seg{{=seg.id}}edit' type="input" seg="#seg{{=seg.id}}">edit</button>
    <button class='commit'  id='seg{{=seg.id}}commit' type="input" seg="#seg{{=seg.id}}">commit</button></p>
</div>
{{pass}}
          <p></p>
<script>
    var rid;
    var seg;
    var data;
	$('document').ready(function(){
		$('.edit').on('click',function(event,ui){
            seg = $(this).attr('seg');
			data = $(seg+'partext').text();
            console.log('data:'+data);
            rid = $(seg).attr('rid');
			$(seg+'partext').html("<form><textarea id='texa' cols=60 rows=10>"+data+"</textarea></form>");
            $(seg+'commit').show();
            $(this).hide();
		});
	});
$('.commit').on('click',function(event,ui){
            txtdata = $('#texa').val();
            $.ajax(
                    url="{{=URL('editex','edit','update_seg')}}",
                    data={body:txtdata},
                    method="POST",
                    processData=false
            ).success(function(){
                        alert('update posted');
                    });
            $(seg+'partext').html(txtdata);
            $(seg+'edit').show();
            $(this).hide();
});
</script>
        <script>
            {{=title_form}}
            {{+LOAD('edit','new_section')}}
        </script>