<style>
    #frame {padding:80px;}
	img { margin: 10px 40px; }
    a { font-size: small;display:inline;}
</style>
        <div id="frame">
{{for seg in segs:}}
<div id="seg{{=seg.id}}" data="seg.id">
{{if seg.category=='title':}}
    {{H3(seg.body)}}
{{elif seg.category=='tex':}}
	{{print 'show tex'}}
	<p>
       <img src='http://latex.codecogs.com/gif.latex?{{=seg.body}}' />
        <!--button type='button' onclick="window.load('{{=URL('edit','segtex',args=[seg.id])}}')">edit</button-->

        &nbsp;&nbsp;<a href={{=URL('edit','segtex',args=[seg.id])}}>edit</a>

    </p>
        {{else:}}
	{{print 'show txt'}}
       <p>
           {{=seg.body}}

       &nbsp;&nbsp;<a href={{=URL('edit','segtxt',args=[seg.id])}}>edit</a>

           </p>
   {{pass}}
{{pass}}
		 </div>
        <br><br>
<div id="foot">
{{=A('New Text',_href=URL('edit','segtxt'))}}&nbsp;&nbsp;&nbsp;
{{=A('New LaTeX',_href=URL('edit','segtex'))}}&nbsp;&nbsp;&nbsp;
{{=A('Commit',_href=URL('edit','commit_document'))}}
</div>
            </div>