{{extend 'layout.html'}}
<div class="doc-col">
    {{act_flag=0}}
        {{sub=0}}
    {{com=""}}
    <h3>{{=session.section.title}}</h3>
    <ol type="1">
        {{for problem in rows:}}
            <li value="{{=problem.problem}}">
                    {{for ppart in db(db.part.problem==problem.problem).select():}}
                        {{if ppart.body:}}
                        <p>
                                {{=XML(ppart.body)}}
                        </p>
                        {{else:}}
                            {{=IMG(_src=URL('download',args=ppart.image))}}
                        {{pass}}
                    {{pass}}
                        {{if ppart.auth_btn:}}
                        {{act_flag=True}}
                        {{pass}}
                    <ol class="a">
                        {{for part in db(db.part.parent_num==problem.problem).select():}}
                        <li>
                            <span>
                                {{if part.body:}}
                                    <p>
                                        {{=XML(part.body)}}
                                    </p>
                                {{else:}}
                                    {{=IMG(_src=URL('download',args=part.image))}}
                                {{pass}}
                            </span>
                        {{if part.auth_btn:}}
                        {{act_flag=True}} <!-- find appendages -->
                        {{pass}}
                        </li>
                            {{print 'act_flag: ', act_flag}}
                        {{if act_flag:}}
                            <div id="s{{=part.section_id}}p{{=problem.problem}}{{=part.problem}}">
                        {{for sub in db(db.part.parent==part.id).select():}}
                            {{print 'in sub with part.id=',sub.id," & ", sub.body}}
                            <span class="com">
                                {{if sub.body:}}
                                    <p>
                                        {{=XML(sub.body)}}
                                    </p>
                                {{else:}}
                                    {{=IMG(_src=URL('download',args=sub.image))}}
                                {{pass}}
                            </span>

                        {{pass}}
                                {{if sub:}}
                            {{parid = sub.id}}
                                {{else:}}
                                {{parid = part.id}}
                                {{pass}}

                        {{include 'acttab.load'}}
                       </div> {{pass}}
                        {{pass}}
                    </ol>
            </li>{{if act_flag:}}<div id="s{{=ppart.section_id}}p{{=problem.problem}}{{=ppart.problem}}">
        {{parid = ppart.id}}
                        {{include 'pacttab.load'}}
                       </div> {{pass}}
        {{pass}}
    </ol>
</div>