{{extend 'layout.html'}}
<style>
            button {
    height: 1.5em;
    vertival-align: middle;
    padding: 0px 0px;
}
    button text {
        padding: 0 0;
    }
</style>
    <ol type="1">
        {{for problem in rows:}}
            <li value="{{=problem.problem}}">
                    {{for part in db(db.part.problem==problem.problem).select():}}
                        {{if part.body:}}
                                {{=XML(part.body)}}<br><br>
                        {{else:}}
                            {{=IMG(_src=URL('download',args=part.image))}}<br>
                        {{pass}}
                    {{pass}}
                        {{if part.auth_btn:}}
                        <button>solve</button>
                        {{pass}}
                    <ol class="a">
                        {{for part in db(db.part.parent_id==problem.problem).select():}}
                        <li>
                            <span>
                                {{if part.body:}}
                                    <p>
                                        {{=XML(part.body)}}
                                    </p>
                                {{else:}}
                                    {{=IMG(_src=URL('download',args=part.image))}}<br>
                                {{pass}}
                            </span>
                        {{if part.auth_btn:}}
                        <button>solve</button>
                        {{pass}}
                        </li>
                        {{pass}}
                    </ol>
            </li>
        {{pass}}
    </ol>