{{extend 'layout.html'}}
<div class="doc-col">
    <h2>{{=session.section.title}}</h2>
    <ol type="1">
        {{for problem in rows:}}
            <li value="{{=problem.problem}}">
                    {{for part in db(db.part.problem==problem.problem).select():}}
                        {{if part.body:}}
                        <p>
                                {{=XML(part.body)}}
                        </p>
                        {{else:}}
                            {{=IMG(_src=URL('download',args=part.image))}}
                        {{pass}}
                    {{pass}}
                        {{if part.auth_btn:}}
                        {{act_flag=True}}
                        {{pass}}
                    <ol class="a">
                        {{for part in db(db.part.parent_id==problem.problem).select():}}
                        <li>
                            <span>
                                {{if part.body:}}
                                    <p>
                                        {{=XML(part.body)}}
                                    </p>
                                {{else:}}
                                    {{=IMG(_src=URL('download',args=part.image))}}
                                {{pass}}
                            </span>
                        {{if part.auth_btn:}}
                        {{act_flag=True}}
                        {{pass}}
                        </li>
                        {{if act_flag:}}
                        {{if auth.has_membership('tutor'):}}
       {{=A(XML('<button>correct</button>'),callback=URL('compose','correct',args=[part.section_id,part.parent_id,
       part.problem]))}}&nbsp;
       {{=A(XML('<button>incorrect</button>'),callback=URL('compose','incorrect',args=[part.section_id,part.parent_id,
       part.problem]))}}&nbsp;
       {{=A(XML('<button>comment</button>'),callback=URL('compose','append_txt'))}}
    {{elif auth.has_membership('student'):}}
         {{=A(XML('<button>solve</button>'),callback=URL('compose','append_txt',args=[part.section_id,part.parent_id,
       part.problem]),ajax=True)}}
    {{pass}}{{act_flag=False}}
                        {{pass}}
                        {{pass}}
                    </ol>
            </li>{{if act_flag:}}
                        {{if auth.has_membership('tutor'):}}
       {{=A(XML('<button>correct</button>'),callback=URL('compose','correct',args=[part.section_id,part.parent_id,
       part.problem]))}}&nbsp;
       {{=A(XML('<button>incorrect</button>'),callback=URL('compose','incorrect',args=[part.section_id,part.parent_id,
       part.problem]))}}&nbsp;
       {{=A(XML('<button>comment</button>'),callback=URL('compose','append_txt'))}}
    {{elif auth.has_membership('student'):}}
         {{=A(XML('<button>solve</button>'),callback=URL('compose','append_txt',args=[part.section_id,part.parent_id,
       part.problem]),ajax=True)}}
    {{pass}}{{act_flag=False}}
                        {{pass}}
        {{pass}}
    </ol>
</div>